* {
    height: auto;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
nav li {
  display: inline-block; 
  width: 20%; 
  margin-right: -4px; 
}
nav a {
  display: block; 
  text-decoration: none; 
}

nav a {
  font-family: sans-serif;
  height: 40%; 
  line-height: 40%; 
  color:black;
}
nav a:hover {
  background-color:rgb(247, 247, 247);
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
    list-style: none;
    padding:0%
}